<div class="avatar">
  <img src="https://twitter.com/{{message.username}}/profile_image?size=original" />
</div>
<div class="text-display">
  <div class="message-data">
    <span class="author">{{ message.username }}</span>
    <span class="timestamp">{{ timestamp }}</span>
    <span class="seen"></span>
  </div>

  <p class="message-body">{{ text }}</p>
</div>
