{{#if nameIsSet}}
  <h3 class="light white">Welcome <b>{{ userName }}</b></h3>
  {{#chat-messages}}{{/chat-messages}}
{{else}}
  <div style="margin-top: 20px">
    {{#chat-username}}{{/chat-username}}
  </div>
{{/if}}
