<p class="light white">Enter your Twitter name and start chatting!</p>
<div style="margin-top: 20px">
  <form>
    {{input placeholder="Enter your Twitter name!" value=userName id="input-name" class="swish-input" }}

    <button type="submit" {{action "userSubmittedName"}} class="bright-blue-hover btn-white" id="try-it-out">
      Start chat
    </button>
  </form>
</div>
