<div>
  <section class="intro-splash splash">
    <div class="container center-all-container">
      <h1 class="white light splash-title" style="font-size: 36px">
        Realtime Chat with Pusher and Ember
      </h1>
      {{#chat-app}}{{/chat-app}}
    </div>
  </section>
</div>
