<div>
  <section class="blue-gradient-background intro-splash splash">
    <div class="container center-all-container">
      <h1 class="white light splash-title" style="font-size: 36px">
        Realtime Chat with Pusher and EmberJS
      </h1>
      {{#chat-username}}{{/chat-username}}
    </div>
  </section>
</div>
